.App {
  text-align: center;
  width: 50%;
  margin: 1% auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
}

input {
  width: 30%;
  padding: 1%;
  border: 1px solid lightblue;
}